<!-- @if devBuild -->
	<script src="vendor/jquery.min.js"></script>
	<script src="vendor/angular.js"></script>
	<script src="vendor/angular-ui-router.js"></script>
	<script src="vendor/angular-animate.js"></script>
	<script src="vendor/ocLazyLoad.js"></script>
    <script src="vendor/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="vendor/scrollbar/scrollbars.js"></script>
        
    <script src="app/js/app.js"></script>
	<script src="app/js/app-config.js" id="appScripts"></script>
	<script src="app/js/app.controller.js"></script>

	<!-- common modules -->
    <script src="app/common/alert/alert-directive.js"></script>
    <script src="app/common/alert/alert-service.js"></script>
    <script src="app/common/ErrorCatcher/ErrorCatcher.js"></script>
<!-- @endif -->

<!-- @if !devBuild -->
<script src="js/main.min.js"></script>
<!-- @endif -->